[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
scikit-learn = "*"
flask = "*"
plotly = "*"
numpy = "*"
seaborn = "*"
statsmodels = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.12"
